body {
    font-family: 'Dosis', sans-serif;
}

h1, h2, h3 {
    font-family: 'Dosis', sans-serif;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: black;
}

footer {
    background-color: #75cae4;
    padding: 20px 0;
}

.jumbotron {
    margin:0;
    padding: 30px;
    background-color: #75cae4;
    color:black;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.navbar {
     background-color: white;
}