body {
    font-family: 'Dosis', sans-serif;
}

h1, h2, h3 {
    font-family: 'Dosis', sans-serif;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: black;
}

footer {
    background-color: #b3b3b3;
    padding: 20px 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.navbar {
     background-color: white;
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }